<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-4">
        <h2>
          <%= post.title %>
        </h2>
        <img class="img-fluid" src="<%= post.image%>" width="100" />
        <div class="row justify-content-between">
          <form class="col-1" action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
            <!-- <button class="btn btn-primary fa fa-heart" type="submit"></button> -->
          </form>
          <!-- <h3 class="col-3">Likes: <%= post.likes %>
          </h3> -->
          <%if(post.user==user.id){ %>
            <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="col-3">
              <button class="btn btn-primary fa fa-trash" type="submit"></button>
            </form>
            <%}%>
        </div>
      </div>
      <div class="col-3 mt-5">
        <p>
          <%= post.caption %>
        </p>
      </div>
      <div class="col-6 mt-5">
        <h2>Add Amount</h2>
        <form action="/amount/createAmount/<%=post._id%>" method="POST">
          <div class="form-group">
            <label for="amount" class="form-label">Amount</label>
            <input type="number" class="form-control " id="amount" name="amount">
          </div>
          <button type="submit" class="btn btn-primary mt-1">Submit</button>
          <ul>
            <% for(var i=0; i<amounts.length; i++) {%>
              <li class="justify-content-between mt-1 list-group">
                <!--Add user attribution-->
                <span class="list-group-item">
                  <%= amounts[i].amount%> contributed

                    <!--If comment was created by current user, then show delete button-->
                    <br>
                    <%if(amounts[i].user==user.id){ %>
                      <form action="/comment/deleteComment/<%=post._id%>/<%= comments[i]._id %>?_method=DELETE"
                        method="POST">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                      </form>
                      <%}%>
              </li>
              <% } %>
                <li class="list-group-item list-group-item-primary mt-1"><span>Total Amount Contributed <%=
                      totalAmount%>
                </li>
          </ul>
        </form>
      </div>


    </div>
    <div class="row justify-content-center">
      <div class="col-6 mt-3 ml-2">
        <a class="btn btn-primary" href="/profile">Return to Profile</a>
        <a class="btn btn-primary" href="/feed">Return to Members</a>
      </div>
    </div>
  </div>

  <%- include('partials/footer') -%>